html,
body {
  margin: 0;
  padding: 0;
  background-color: #7dbdca;
}

@font-face {
  font-family: 'Electroharmonix';
  src: url('assets/fonts/Electroharmonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
