html,
body {
  margin: 0;
  padding: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100lvw;
  height: 100lvh;
  background: url('assets/images/background.png') no-repeat center / cover;
  z-index: -1;
}

@font-face {
  font-family: 'Electroharmonix';
  src: url('assets/fonts/Electroharmonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
